{
    admin off
}

{$APP_DOMAIN::80}, www.mercadoahora.com.ar {
    encode gzip zstd

    @www host www.mercadoahora.com.ar
    redir @www https://mercadoahora.com.ar{uri} permanent

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /storage/* {
        reverse_proxy backend:8000
    }

    handle /up {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:3000
    }
}
