{
    admin off
}

mercadoahora.com.ar {
    encode gzip zstd

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /storage/* {
        reverse_proxy backend:8000
    }

    handle /up {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:3000
    }
}

www.mercadoahora.com.ar {
    redir https://mercadoahora.com.ar{uri} permanent
}
